.background {
    -fx-background-color:  #cae3e7;

}
.button{
    -fx-background-color: linear-gradient(to bottom right, #1a35e9, #20cfe6);
    -fx-text-fill: #cae3e7;
    -fx-font-size: 15px;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right, #1a35e9, #20cfe6);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.button:hover{
    -fx-background-color: #cae3e7;
    -fx-text-fill: linear-gradient(to bottom right, #1a35e9, #20cfe6);
}
.text-field :focused {
    -fx-border-color: linear-gradient(to bottom right, #20cfe6, #1a35e9);
    -fx-border-width: 5px;
    -fx-overflow : hidden;
    -fx-overflow-y : auto;
}