.like-button {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: #ff005e;
    -fx-border-width: 1px;
    -fx-border-color: #ff005e;
    -fx-border-radius: 5px;
}
.like-button:hover{
    -fx-background-color: #ff005e;
    -fx-text-fill: #ffffff;
}
.retweet-button{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: #0cfc18;
    -fx-border-width: 1px;
    -fx-border-color: #0cfc18;
    -fx-border-radius: 5px;
}
.retweet-button:hover{
    -fx-background-color: #0cfc18;
    -fx-text-fill: white;
}
.quote-button{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: #079602;
    -fx-border-width: 1px;
    -fx-border-color: #079602;
    -fx-border-radius: 5px;
}
.reply-button{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: #ff9c00;
    -fx-border-width: 1px;
    -fx-border-color: #ff9c00;
    -fx-border-radius: 5px;
}